- days = [nil,'monday', 'tuesday','wednesday','thursday','friday']

-# przekazanie zmiennych do JS
:javascript
  var startHour=#{@start_hour};
  var endHour=#{@end_hour};

-#generowanie tabeli
.row.timetable
  #nowline
    #nowlinetext.text-center
  -(0..5).each do |day_num|
    -comercial_date = Date.commercial(@year, @week_num, day_num) unless day_num==0
    .col-xs-2.day{:class => ("today" if comercial_date==Date.today)}
      .weekday
        -if day_num==0 
          by time
          %br
          =link_to "by people", week_people_date_url(@year,@week_num)
        -else
          .dayname=raw(days[day_num])
          .daydate=comercial_date
      -now_hour = @start_hour

      -@hours_plans.each do |hours_plan| #wyswietlanie kiedy typek jest w pracy
        -if hours_plan.start_date.strftime('%u').to_i==day_num
          .hours-plan(start="#{hours_plan.start_date}" end="#{hours_plan.end_date}" user="#{hours_plan.user.name+" "+hours_plan.user.surname}" title="#{hours_plan.user.name+" "+hours_plan.user.surname}")

      -while now_hour <= @end_hour #wolne komorki lub godziny
        -if day_num==0
          .hour.text-center
            %span.bighour=now_hour
            %span.smallhour 00
        -else
          .hour
        -now_hour += 1


