<h1>New Holiday</h1>
<%= form_for(@holiday) do |f| %></br>
<br><%= f.label "Start Date" %></br>
<br><%= f.text_field :startdate %></br>
<br><%= f.label "End Date" %></br>
<br><%= f.text_field :enddate %></br>
<br><%= f.label "Description"%></br>
<br><%= f.text_area :description %></br>
<%= f.hidden_field :status ,:value =>"pending"%>
<%= f.hidden_field :user_id , value: current_user.id%>
<br><%= f.submit "Add Holiday" %>
<%end%></br>