%h1 Add holiday request
  - @holiday.errors.full_messages.each do |err|
  %li= err
= form_for(@holiday) do |f|
  %div.form-group
    = label_tag "Start date and time", nil,  :style => "width: 100%;"
    = text_field_tag "startdate", nil, class: "form-control date-picker fifty-fifty"
    = time_field_tag "starttime",nil, class: "form-control fifty-fifty"
  %div.form-group
    = label_tag "End date and time", nil, :style => "width: 100%;"
    = text_field_tag "enddate", nil, class: "form-control date-picker fifty-fifty"
    = time_field_tag "endtime",nil, class: "form-control fifty-fifty"
  %div.form-group
    = label_tag "Description"
    = text_area_tag "description", nil, class: "form-control"
  %div.form-group
    = submit_tag "Add holiday request", class: "form-control"
