<h1>New Holiday</h1>
	<% form_for(@holiday) do |f| %>
	<%= f.label "Start Date" %>
	<%= f.text_field :startdate %>
	<%= f.label "End Date" %>
	<%= f.text_field :enddate %>
	<%= f.label "Description"%>
	<%= f.text_field :description %>
	<button type="button" class="btn btn-default"><%= f.submit "Add Holiday" %></button>
		<%end%>