%h1 Profile
%h3
  Name: 
  = @user.name
  %br/
  Surname:
  = @user.surname
  %br/
  E-mail:
  = @user.email
  %br/
%h4
  = link_to "Edit profile", edit_user_path(@user.id) 
  = link_to "Users list", users_path