= render "shared/headers"
%body
  .container-fluid
    = render "shared/logonavbar"
    .row
      .col-md-4.col-md-offset-4.text-center#weekpicker
        week #{@week_num}, #{@year}
    = yield
    = render "shared/footer"