= render "shared/headers"
%body
  .container-fluid
    = render "shared/logonavbar"
    .row
      .col-xs-2.text-center.weekpicker#datepicker
        %form(method="GET")
          -if params[:fulldate] 
            -inputdate = params[:fulldate]
          -else
            -inputdate = Date.commercial(@year, @week_num, 1,0,0,0,'+2').strftime('%Y-%m-%d')
          %input(value="#{inputdate}" act="#{action_name}")
      %a.bl(href="#{url_for :controller => 'week', :action => action_name, :year => (@week-7).year, :week => (@week-7).cweek}")
        .col-xs-3.col-xs-offset-1.text-center.weekpicker.rotate-l3
          week #{(@week-7).cweek}, #{(@week-7).year}
      .col-xs-3.text-center.weekpicker(style="z-index: 1")
        week #{@week_num}, #{@year}
      %a.bl(href="#{url_for :controller => 'week', :action => action_name, :year => (@week+7).year, :week => (@week+7).cweek}")
        .col-xs-3.text-center.weekpicker.rotate-r3
          week #{(@week+7).cweek}, #{(@week+7).year}
    = yield
    #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-body
            error, please try again...
    = render "shared/footer"